.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    justify-self: center;
  }

form {
    width: 300px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
  
form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form textarea {
    height: 100px;
    max-height: 130px;
    max-width: 280px;
}
  
form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}