#trailers {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%; ;
}

.trailer {
    text-align: center;
    padding-top: 30px;
}

.trailer iframe {
    border: 5px solid black;
    transition: 0.5s;
}
.trailer iframe:hover {
    border-radius: 5px;
    border-color: red;
}

.trailer h2 {
    padding-bottom: 15px;
}