#trailers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trailer {
    text-align: center;
}

.trailer iframe {
    border: 5px solid black;
    transition: 0.5s;
}
.trailer iframe:hover {
    border-radius: 5px;
    border-color: red;
}